<div class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto p-4">
  <table id="myTable" width="100%">
    <thead>
    <th>시리얼</th>
    <th>충전량</th>
    <th>수분함유량</th>
    <th>순도분석값</th>
    <th>충전일</th>
    <th>수정</th>
    <th>삭제</th>
    </thead>
    <% @tank_logs.each do |tl| %>
      <tr>
        <td align="center">
          <%= tl.serial %>
        </td>
        <td align="center">
          <%= tl.capacity_filled %>
        </td>
        <td align="center">
          <%= tl.moisture_quantity %>
        </td>
        <td align="center">
          <%= tl.purity_analysis %>
        </td>
        <td align="center">
          <%= tl.created_at.in_time_zone('Asia/Seoul') %>
        </td>
        <td align="center">
          <%= link_to "Edit", tank_log_path(tl) %>
        </td>
        <td align="center">
          <%= link_to "Destroy", tank_log_path(tl), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div id="pagy" class="flex justify-center">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>