<script>
    window.opener.location.reload();  // 부모 창 새로고침
</script>

<%= form_with model: gauge do |form| %>
  <div class="mb-6">
    <label for="page_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Page ID</label>
    <%= form.text_field :page_id, value: params[:page], class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true, readonly: true %>
  </div>
  <div class="mb-6">
    <label for="tile_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tile ID</label>
    <%= form.text_field :tile_id, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true, readonly: true %>
  </div>
  <div class="mb-6">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
    <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
  </div>
  <div class="mb-6">
    <label for="width" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Width</label>
    <%= form.text_field :width, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
  </div>
  <div class="mb-6">
    <label for="height" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Height</label>
    <%= form.text_field :height, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
  </div>
  <div class="mb-6">
    <label for="min" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Min</label>
    <%= form.text_field :min, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
  </div>
  <div class="mb-6">
    <label for="max" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Max</label>
    <%= form.text_field :max, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
  </div>
  <div class="mb-6">
    <label for="offset_x" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Offset X</label>
    <%= form.text_field :offset_x, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
  </div>
  <div class="mb-6">
    <label for="offset_y" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Offset Y</label>
    <%= form.text_field :offset_y, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
  </div>
  <div class="mb-6">
    <label for="foreground_color" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Foreground Color</label>
    <%= form.text_field :foreground_color, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
  </div>
  <div class="mb-6">
    <label for="background_color" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Background Color</label>
    <%= form.text_field :background_color, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
  </div>
  <div class="mb-6">
    <label for="modbus_index" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Modbus Index</label>
    <%= form.text_field :modbus_index, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
  </div>
  <%= submit_tag "Submit", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800", data: { turbo: false } %>
<% end %>
